
<%= content_tag :div, class: 'col-12' do %>
  <% unless @error.is_a?(Hash) && @error['errorcode'] %>
    <% unless @projects.empty? %>

      <%= content_tag :div, class: 'row' do %>
        <h2 class='col-12' id='projects'>Projects</h2>
      <% end %>
      <%= render partial: 'project', collection: @projects %>
    <% end %>
  <% else %>
    <%= content_tag :div, class: 'row' do %>
      <%= content_tag :div, class: 'col-xs-12' do %>
        <%= @error['message'] %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
