<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @project.active %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @project.organization %>
</p>

<p>
  <strong>Harvest:</strong>
  <%= @project.harvest_id %>
</p>

<p>
  <strong>Harvest created at:</strong>
  <%= @project.harvest_created_at %>
</p>

<p>
  <strong>Harvest updated at:</strong>
  <%= @project.harvest_updated_at %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
